barcode_generator
dlib
dlib_binary
easyocr
face_recognition
matplotlib
numpy
opencv_python
opencv_python_headless
pandas
Pillow
pytesseract
pyzbar
qrcode
scikit_learn
scipy
skimage
streamlit
matplotlib
