python-barcode
barcode-generator
easyocr
face-recognition
matplotlib
numpy
opencv-python
pandas
Pillow
pytesseract
pyzbar
qrcode
scikit-learn
scipy
scikit-image
streamlit
cmake
--upgrade cmake
--upgrade pip setuptools wheel
dlib
